<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/TestMaster/src/main/resources/static/Css/Style.css">
    <meta charset="UTF-8">
    <title>Notas</title>
</head>
<body>
    <section class="ftco-section"></section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Notas</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>#</th>
						      <th>Materia</th>
						      <th>Primer Corte (30%)</th>
						      <th>Segundo Corte (70%)</th>
                              <th>Nota Final</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">1</th>
						      <td>Calculo integral</td>
						      <td> <input type="number"></td>
							  <td> <input type="number"></td>
						      
                              
						    </tr>
						    <tr>
						      <th scope="row">2</th>
						      <td>Desarrollo de software</td>
						      <td> <input type="number"></td>
							  <td> <input type="number"></td>
						    </tr>
						    <tr>
						      <th scope="row">3</th>
						      <td>Base de datos</td>
							  <td> <input type="number"></td>
							  <td> <input type="number"></td>
						    </tr>
						    <tr>
						      <th scope="row">4</th>
						      <td>Estructura de datos</td>
							  <td> <input type="number"></td>
							  <td> <input type="number"></td>
						    </tr>
						    <tr>
                                <th scope="row">5</th>
                                <td>Comunicacion de datos</td>
                                <td> <input type="number"></td>
								<td> <input type="number"></td>
                              </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>