<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/TestMaster/src/main/resources/static/Css/Style.css">
    <meta charset="UTF-8">
    <title>Notas</title>
</head>
<body>
	<h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Materias</th>
            <th>1er Corte (30%)</th>
            <th>2do Corte (70%)</th>
            <th>Nota Final</th>
        </tr>
        </thead>
        <tbody>
        <tr>
			<td> <label for="MateriasCal">Calculo</label></td>
			<td><input type="text" id="MateriasCal" name="MateriasCal"></td>
			<td><input type="text" id="MateriasCal" name="MateriasCal"></td>
			<td><input type="text" id="MateriasCal" name="MateriasCal"></td>
			<td><input type="text" id="MateriasCal" name="MateriasCal"></td>
        </tr>
        <tr>
			<td> <label for="MateriasSoft">Desarrollo de software</label></td>
			<td><input type="text" id="MateriasSoft" name="MateriasSoft"></td>
			<td><input type="text" id="MateriasSoft" name="MateriasSoft"></td>
			<td><input type="text" id="MateriasSoft" name="MateriasSoft"></td>
			<td><input type="text" id="MateriasSoft" name="MateriasSoft"></td>
        </tr>
        <tr>
			<td> <label for="MateriasBase">Base de datos</label></td>
			<td><input type="text" id="MateriasBase" name="MateriasBase"></td>
			<td><input type="text" id="MateriasBase" name="MateriasBase"></td>
			<td><input type="text" id="MateriasBase" name="MateriasBase"></td>
			<td><input type="text" id="MateriasBase" name="MateriasBase"></td>

        </tr>
        <tr>
			<td> <label for="MateriasComu">Comunicacion de datos</label></td>
			<td><input type="text" id="MateriasComu" name="MateriasComu"></td>
			<td><input type="text" id="MateriasComu" name="MateriasComu"></td>
			<td><input type="text" id="MateriasComu" name="MateriasComu"></td>
			<td><input type="text" id="MateriasComu" name="MateriasComu"></td>
        </tr>
        <tr>
           <td> <label for="MateriasDatos">Estructura de datos</label></td>
            <td><input type="text" id="MateriasDatos" name="MateriasDatos"></td>
			<td><input type="text" id="MateriasDatos" name="MateriasDatos"></td>
			<td><input type="text" id="MateriasDatos" name="MateriasDatos"></td>
			<td><input type="text" id="MateriasDatos" name="MateriasDatos"></td>
        <tbody>
    </table>
</div>
</body>
</html>