<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="Css/Style.css">
		<meta charset="UTF-8">
		<title>Notas</title>
	</head>
	<body>
		<section class="ftco-section"></section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Notas</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
							<thead class="thead-primary">
								<tr>
									<th>#</th>
									<th>Materia</th>
									<th>Primer Corte (30%)</th>
									<th>Segundo Corte (70%)</th>
									<th>Nota Final</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Calculo integral</td>
									<td><input type="number" step="0.1" min="0" max="5"></td>
									<td><input type="number" step="0.1" min="0" max="5"></td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Desarrollo de software</td>
									<td> <input type="number"></td>
									<td> <input type="number"></td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Base de datos</td>
									<td> <input type="number"></td>
									<td> <input type="number"></td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>Estructura de datos</td>
									<td> <input type="number"></td>
									<td> <input type="number"></td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td>Comunicacion de datos</td>
									<td> <input type="number"></td>
									<td> <input type="number"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<h2>Responsive Table</h2>
	<div class="table-wrapper">
		<table class="fl-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Materias</th>
					<th>1er Corte (30%)</th>
					<th>2do Corte (70%)</th>
					<th>Nota Final</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <label for="MateriasCal">Calculo</label></td>
					<td><input type="text" id="MateriasCal" name="MateriasCal"></td>
					<td><input type="text" id="MateriasCal" name="MateriasCal"></td>
					<td><input type="text" id="MateriasCal" name="MateriasCal"></td>
					<td><input type="text" id="MateriasCal" name="MateriasCal"></td>
				</tr>
				<tr>
					<td> <label for="MateriasSoft">Desarrollo de software</label></td>
					<td><input type="text" id="MateriasSoft" name="MateriasSoft"></td>
					<td><input type="text" id="MateriasSoft" name="MateriasSoft"></td>
					<td><input type="text" id="MateriasSoft" name="MateriasSoft"></td>
					<td><input type="text" id="MateriasSoft" name="MateriasSoft"></td>
				</tr>
				<tr>
					<td> <label for="MateriasBase">Base de datos</label></td>
					<td><input type="text" id="MateriasBase" name="MateriasBase"></td>
					<td><input type="text" id="MateriasBase" name="MateriasBase"></td>
					<td><input type="text" id="MateriasBase" name="MateriasBase"></td>
					<td><input type="text" id="MateriasBase" name="MateriasBase"></td>

				</tr>
				<tr>
					<td> <label for="MateriasComu">Comunicacion de datos</label></td>
					<td><input type="text" id="MateriasComu" name="MateriasComu"></td>
					<td><input type="text" id="MateriasComu" name="MateriasComu"></td>
					<td><input type="text" id="MateriasComu" name="MateriasComu"></td>
					<td><input type="text" id="MateriasComu" name="MateriasComu"></td>
				</tr>
				<tr>
					<td> <label for="MateriasDatos">Estructura de datos</label></td>
					<td><input type="text" id="MateriasDatos" name="MateriasDatos"></td>
					<td><input type="text" id="MateriasDatos" name="MateriasDatos"></td>
					<td><input type="text" id="MateriasDatos" name="MateriasDatos"></td>
					<td><input type="text" id="MateriasDatos" name="MateriasDatos"></td>
					<tbody>
					</table>
				</div>
			</body>
		</html>